#hello {
    margin-top: 5%;
    color: thistle;
    font-size: 4vw;

}

span {
    color: aliceblue;
    font-size: 4vw;
}

#hi {
    background: -webkit-linear-gradient(#30CFD0, #330867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-color {
    background-image: linear-gradient(to right, #577bb0, #0c8dbd, #009ebb, #00acaa, #16b78d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
